.ProjectFrame{
	width : 232px;
	margin-bottom : 20px;
}
.ProjectFrame .detail{
	display: inline-block;
}
.videoArt{
	cursor:pointer;
	width : 232px;
	/*margin-right : 50px;
	margin-bottom : 50px;*/
}
.ProjectFrame .name{
	margin: 0px;
}
.ProjectFrame .position{
	float:left;
	margin: 0px;
	font-weight: lighter;
	font-size: 13px;
}
.ProjectFrame .credit{
	float:right;
	margin:0px;
}
.ProfileBasicInfo{
	float:left;
	margin : 50px;
	margin-top:80px;
	height : 800px;
	width : 300px;
	text-align:center;
	line-height:30%
}

#profileContent{
	height : 800px;
	margin-left : 450px;
	margin-top : 80px;
}

#profileSelection{
	text-align : center;
	height : 100px;
}
#profileBody{
	width:100%;
	/*column-width: 232px;*/
	column-gap: 20px;
}
ul{
	list-style:none;
}
li{
	display:inline-block;
	margin-top : 20px;
	margin-right : 100px;
	cursor:pointer;
}
li:hover:not(.active) {
	font-weight: lighter;
	text-decoration: underline;
}

li.active {
	font-weight: bold;
	color:#000000;
}
.bridgeCard{
	height:100px;
	width:344px;
	border-bottom:2px solid black;
	border-right:2px solid black;
	border-bottom-color: #e2e2e2;
	border-right-color: #e2e2e2;
	margin:10px;
	display: inline-block;
}
.bridgeCard .personalImageFrame{
	height:100px;
	width:80px;
}
.bridgeCard .personalImage{
	border-radius:100%;
	height:60px;
	width:60px;
	margin:10px;
}
.bridgeCard .personalInfo{
	padding-bottom: :5px;
	padding-top: :5px;
	width:95px;
	float:left;
	line-height:100%

}
.bridgeCard .name, .bridgeCard .organization, .bridgeCard .position{
	margin-bottom: 5px;
	margin-top: 5px;
}
.bridgeCard .name{
	font-size:18px;
	font-weight:bold;
}
.bridgeCard .organization{
	font-size:12px;
}
.bridgeCard .position{
	font-size:12px;
	font-weight:bold;
}
.bridgeCard .location{
	font-size:12px;
	font-weight:lighter;
}
.bridgeCard .workImageFrame{
	width:149px;
	height:100px;
}
.bridgeCard .workImage{
	width:129px;
	height:76px;
	margin:10px;
}
