.right, .left{
	max-width: 80%;
	clear: both;
	
	vertical-align: middle;
	padding: 0.6rem;
	border-radius: 8px;
	text-align: left;
	word-wrap: break-word;
	margin: 5px 8px 4px;
}
.right{
	float: right;
	background-color: #ed2a7b;
	color: #fff;

}
.left{
	float: left;
	background-color: #ccc;
	color: #000;
}

/*.text {
	vertical-align: middle;
	padding: 0.6rem;
	border-radius: 8px;
	text-align: left;
	word-wrap: break-word;
	background-color: #ed2a7b;
	color: #fff;
	margin: 5px 8px 4px;
}*/

.img{
	border-radius: 100%;
	float: left;
	width: 2.5vmax;
	height: 2.5vmax;
	margin-right: 1vmax;
	display: inline-block;
}

.rightimg{
	border-radius: 100%;
	float: right;
	width: 2.5vmax;
	height: 2.5vmax;
	margin-right: 1vmax;
	display: inline-block;
}