#uploadtext {
    border-top: 3px solid #000;
    margin-left: auto;
    margin-top: 10vh;
    margin-bottom: 10px;
    margin-right: auto;
    padding-top: 5px;
    font-size: 2vw;
    letter-spacing: -1px;
    background-color: white;
    width: 100%;
    max-width: 70vw;
}

p.date {
    margin-bottom: 0;
    bottom: 0;
    color: #90949c ;
    font-size: 0.1rem;
}


.left, .right{
	display: flex;
	clear: both;
}
.right{
	float: right;
	margin-left: 20%;
}
.left{
	float: left;
}
.rtext, .ltext{
	display: inline-block;
	vertical-align: middle;
	padding: 0.6rem;
	border-radius: 8px;
	text-align: left;
	word-wrap: break-word;
	margin: 5px 8px 4px;
	max-width: 20vw;
}
.rtext{
	background-color: #ed2a7b;
	color: #fff;

}
.ltext{
	background-color: #ccc;
	color: #000;
}

/*.text {
	vertical-align: middle;
	padding: 0.6rem;
	border-radius: 8px;
	text-align: left;
	word-wrap: break-word;
	background-color: #ed2a7b;
	color: #fff;
	margin: 5px 8px 4px;
	}*/

	.rightImg, .leftImg{
		border-radius: 100%;
		width: 2.5vmax;
		height: 2.5vmax;
		margin-right: 1vmax;
		margin-left: 1vmax;
		display: inline-block;
		margin-top: auto;
		margin-bottom: auto;
	}

	.rightImg{
		float: right;
	}
	.leftImg{
		float: left;
	}
	.img{
		border-radius: 100%;
		float: left;
		width: 2.5vmax;
		height: 2.5vmax;
		margin-right: 1vmax;
		display: inline-block;
	}

  #conversation{
    margin-left: 48vw;
    font-size: 1vw;
  }
