#contents{
	margin-top: 10vh;
	text-align: center;
	width: 100%;
	height: 1000px;
	display: flex;
	margin-left: 20%;
}

#DMTotalList{
	display: inline-block;
	width: 300px;
	height: 80vh;
	overflow-y: auto;
	border: 1px solid rgba(0, 0, 0, .10);
}


#DMoneDetail{
	width: 700px;
	height: 80vh;
	border: 1px solid rgba(0, 0, 0, .10);
	display: inline-block;
}

#DMDetail{
	overflow-y: auto;
	height: 74vh;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

#DMSend{
	height: 6vh;
	display: flex;
}

#DMtext{
	border: none;
	padding: 0 1rem;
	background: none;
	color: #111;
	float: left;
	width: 80%;
	display: inline-block;
	resize: none;
	overflow-y: auto;
}
#DMtext:focus{
	outline: 0;
}
#send{
	border: none;
	width: 20%;
	padding: 0px;
	display: inline-block;
	height: 6vh;
	font-size: 1rem;
	box-sizing: content-box;
}
.dmListSelection{
	height: 50px;
	width: 270px;
	font-size: 14px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	transition: 0.2s all;
}
.dmListSelection:hover{
	background: #d4d4d4;
	cursor: pointer;
}
.dmAnchor{
	text-decoration: none;
}
.listSent, .contextSent, .listRecieved, .contextRecieved{
	margin: 0px;
	display: inline-block;
}
.listRecieved, .listSent{
	font-weight: 600;
}
.contextSent, .contextRecieved{
	font-weight: lighter;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
}