@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}
/*
    body{
    background-image: url("/mainImage/mainBackground.png");
    background-repeat: no-repeat;
    background-position: 50%50%;
    background-size:2000px;
    vertical-align:middle;
    text-align:center;
   }
   */

   html{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    opacity: 0.95;
  }
  .logo{
    text-align:center;
    /*margin-top:5%;*/
    margin-top: 75px;

  }
  .quote{
    color:white;
    font-size:20px;
    font-weight: lighter;
    text-align:center;
    /*margin-top:5%;*/
    margin-top: 75px;
    /*margin-bottom:10%;*/
    margin-bottom: 150px;
  }
  #form{
    text-align: center;
  }
  .infoFrame{
    display: inline-block;
    color:#999999;
    width: 400px;

  }
  .labels{
    text-align: left;
    color: white;
  }
  .BOX{
   //margin-left : 210px;
   border : 1px solid white;
   border-radius:7px;
   width : 100%;
   height: 30px;
   background: rgba(255, 255, 255, 0.5); 
 }

 .buttons{
  text-align:center;
  white-space: nowrap;
}

#subsub{
  margin-right: 100px;
  width: 130px;
  height: 40px;

  background-color: white; 
  color :#008cba ;
  border:2px solid #008CBA ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

/* hover effect*/
  cursor: pointer;
  transition: all 0.8s; 
}

#subsub:hover {

 background-color: #008CBA ;
 color: white;

}

#signupBt{
  width: 130px;
  height: 40px;

  background-color: white; 
  color :#008cba ;
  border:2px solid #008CBA ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

/* hover effect*/
  cursor: pointer;
  transition: all 0.8s;
}

#signupBt:hover {
 background-color: #008CBA ;
 color: white;
}

