#companyFrame {
   padding-top: 2vh;
   position: fixed;
   top: 100%;
   width: 100vh;
   transform: rotate(90deg);
   transform-origin: top right;
   text-align: center;
   right: -4px;

}
#companyInfoImage{
	width: 10vw;
	display: inline-block;
	float: left;
}
#companyInfoFrame{
	display: inline-block;
	text-align: center;
}
.companyInfo {
   font-size: 0.3rem;
   font-weight: 900;
}