@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}


#header {
	white-space: nowrap;
	height: 3vmax;
	width: 100%;
	position: fixed;
	background: rgba(255, 255, 255, 0.5);
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
.searchSlot {
	vertical-align: top;
	width: 20vmax;
	height: 2vmax;
	box-sizing: border-box;
	border: 0.1vmax solid #dbdbdb ;
	border-radius: 4px;
	font-size: 0.75rem !important;
	color: #262626 ;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url(/mainImage/searchicon.png);
	background-position: 5%;
	background-size: 1.2vmax;
	background-repeat: no-repeat;
	padding: 0.6vmax 1.2vmax 0.6vmax 2.6vmax;
}

/**검색창**/
#searchbar{
	margin-top: .5vmax;
	margin-left: 4vmax;
	display: inline-flex;
}
/**검색버튼**/

@media screen and (min-width: 0px) and (max-width: 900px){
	/**검색창**/
	#searchbar{
		display: none;
	}
	/**검색버튼**/

}
#searchButton {
	width: 5.4vmax;
	height: 2vmax;
	color: #000;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	text-align: center;
	margin-left: 0.4vmax;
	text-decoration: none;
	display: inline-block;
	font-size: 1vmax;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
}
#searchButton:hover{
	text-decoration: underline;
}
img{
	cursor: pointer;
}
img:focus{
	cursor: progress;
}
button{
	cursor:pointer;
}
button:focus{
	cursor:progress;
	outline: 0;
}
button:hover{

}
#credImage{
	float: left;
	cursor: pointer;
	height: 60%;
	margin-left: 0.6vmax;
	margin-top: 0.6vmax;
}

.headIcons {
	position: absolute;
	display: inline-block;
	right: 0px;
	margin-top: 0.25vmax;
	margin-right: 2vmax;
	white-space: nowrap;
}
#profile{
	float: left;
	display: table;
	margin-right: 1vmax
	;
}

#profileImage{
	border-radius: 100%;
	float: left;
	width: 2.5vmax;
	height: 2.5vmax;
	margin-right: 1vmax;
	display: inline-block;
}

#profileName{
	cursor: pointer;
	font-size: 1vmax;
	display: table-cell;
	vertical-align: middle;
}
.dropbtn {
	width: 90px;
	height: 30px;
	margin-top: 6px;
	background-color: white;
	color: #ed2a7b;
	border: 2px solid #ed2a7b;
	text-align: center;

	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
}
.dropbtn:hover {
	background-color: #ed2a7b;
	color: white;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #ed2a7b;
}
#upload{
	background-image: url(/mainImage/uploadiconblack.png);
}
#upload:hover {
	background-image: url(/mainImage/uploadiconpink.png);
}


#logout{
	background-image: url(/mainImage/logouticonblack.png);
}
#logout:hover {
	background-image: url(/mainImage/logouticonpink.png);
}

#notification{
	background-image: url(/mainImage/notioff.png);
}

#notification:hover {
	background-image: url(/mainImage/notion.png);
}

#notification_out {
	background-color: rgba(255, 255, 255, 0.9);
	overflow: auto;
	overflow-x: hidden;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	min-height: 300px;
	max-height: 600px;
	width: 450px;
	border: 0.1vmin solid #e6e6e6;

	font-size: 0.75rem !important;
	color: #555;
	border: 1px solid #e6e6e6;
}

.noticlass{
	border : 1px solid black;
	border-bottom : none;
	white-space:normal;
}

.notification_out{
	position:absolute;
	right:1px;
}

.notification_out_none{
	display:none;
}

.notiImage {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	cursor: pointer;
}

.icons_none{
	width: 3vmax;
	height: 2.5vmax;
	background-color: white;
	background: no-repeat;
	background-size: 1.5vmax;
	background-position: 50%;
	color: #ed2a7b;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
}

#yourart{
	background-image: url(/mainImage/a.jpg);
}
#logout:hover {
	/*이미지 아직 없음*/
}
.icons:hover{
	color: white;
}
.icons{
	width: 3vmax;
	height: 2.5vmax;
	background-color: white;
	background: no-repeat;
	background-size: 1.5vmax;
	background-position: 50%;
	color: #ed2a7b;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
}
#upBtSp{
	margin-left: 10px;
}
#logBtSp{
	margin-left: 22px;
}
.searchInfo{
	font-size: 12px;
}

#resultImage {
	margin: 5px;
	height: 54px;
	width: 54px;
	border-radius: 3px;
	object-fit: cover;
}

#searchInfoContainer #name{
	color: #ed2a7b ;
	font-weight: bold;
	font-size: 15px;
}
#searchInfoContainer{
	display: inline-block;
	vertical-align: top;
}
.resultList{
	border-bottom: 1px solid gainsboro;
}
ul{
	list-style-type:none;
	-webkit-padding-start: 0px;
}
.ui-helper-hidden-accessible{
	display: none;
}
#ui-id-1{ /* search results */
	width: 600;
	max-height: 400;
	overflow: auto;
	position: fixed;
	background: white;
	border:1px solid #e6e6e6;
	border-radius: 3px;
}
.ui-autocomplete {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 999;
	background: white;
	border: 1px solid grey;
}
#buttons{
	display: inline-block;
}
#login {
	width: 5.4vmax;
	height: 2vmax;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	border: 0.2px solid white;
	text-align: center;
	margin-left: 0.4vmax;
	text-decoration: none;
	display: inline-block;
	font-size: 1vmax;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
	margin-top: .25vmax;
}
#login:hover{
	text-decoration: underline;
	cursor: pointer;
}
.notiStatement{
	display: inline-block;
	font-size: 0.8vw;
	word-wrap: break-word;
	white-space: normal;
	width: 380px;
	padding-right: 20px;
	vertical-align: middle;
}
#notiText{
	padding: 12px;
	font-weight: bolder;
}