@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}
#header{
	white-space: nowrap;
	box-shadow: 0 1px 5px 0 rgba(41,85,115,.21);
	border-bottom : 1px solid #e6e6e6;
	height : 60px;
	width: 100%;
	position: fixed;
	background: rgba(255, 255, 255, 0.97);
	top: 0;
	left: 0;
	right: 0;
}
.searchSlot {
	width: 300px;
	box-sizing: border-box;
	border: 2px solid #008CBA;
	border-radius: 4px;
	font-size: 16px;
	color: #008CBA;
	background-color: white;
	background-image: url('/mainImage/searchicon.png');
	background-position: 14px 8px; 
	background-size: 15px;
	background-repeat: no-repeat;
	padding: 6px 20px 6px 40px;

}
/**검색창**/
#searchbar{
	margin-top: 12.5px;
	margin-left: 70px;
	display: inline-flex;
}
/**검색버튼**/
#searchButton{
	width: 90px;
	height: 35px;

	background-color: #008cba;
	color: white;
	border: 2px solid #008CBA;
	text-align: center;
	margin-left: 5px;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
}
img{
	cursor: pointer;
}
button{
	cursor:pointer;
}
#credImage{
	float: left;
	cursor: pointer;
	height: 30px;
	margin-left: 10px;
	margin-top: 15px;
}

.headIcons{
	float:right;
	height : 40px;
	margin-top: 10px;
	margin-right: 30px;
	white-space:nowrap;
}
#profile{
	float: left;
	display : inline-block;
	height : 40px;
	width: 200px;
}

#profileImage{
	border-radius: 100%;
	float : left;
	width : 40px;
	height : 40px;
	margin-right: 10px;
}

#profileName{
	cursor:pointer;
	margin:11px;
	word-wrap:normal;
}
.dropbtn {
	width: 90px;
	height: 30px;
	margin-top: 6px;
	background-color: white;
	color: #008cba;
	border: 2px solid #008CBA;
	text-align: center;

	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
}
.dropbtn:hover {
	background-color: #008CBA ;
	color: white;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #008CBA;
}
#upload{
	background-image: url(/mainImage/uploadiconblue.png);
}
#upload:hover {
	background-image: url(/mainImage/uploadiconwhite.png);
}


#logout{
	background-image: url(/mainImage/logouticonblue.png);
}
#logout:hover {
	background-image: url(/mainImage/logouticonwhite.png);
}
#yourart{
	background-image: url(/mainImage/a.jpg);
}
#logout:hover {
	/*이미지 아직 없음*/
}
.dropdowns:hover{
	background-color: #008CBA ;
	color: white;
}
.dropdowns{
	width: 90px;
	margin-top: 6px;
	background-color: white;
	background: no-repeat;
	background-size: 13px;
	background-position: 11% 42%;
	color: #008cba ;
	border: 2px solid #008CBA ;
	text-align: center;

	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.8s;
}
#upBtSp{
	margin-left: 10px;
}
#logBtSp{
	margin-left: 22px;
}
.searchInfo{
	font-size: 12px;
}

#resultImage { 
	margin: 5px;
	height: 54px;
	width: 54px;
	border-radius: 3px;
	object-fit: cover;
}

#searchInfoContainer #name{
	color: #008cba ; 
	font-weight: bold;
	font-size: 15px; 
}
#searchDropdown{
	position: relative;
	display: 
	inline-block;
}
#searchDropdown_content{
	background-color: white;
	border:1px solid #008cba; 
	border-radius: 3px;
	position: absolute; 
	z-index: 1; 
	text-align: left;
	display: none; 
	width: 500px;
}
#searchInfoContainer{
	display: inline-block;
}
#curOrganization{
	display: inline-block;
}
#curPosition{
	display: inline-block;
}
.resultList{
	border-bottom: 1px solid gainsboro;
}