#header{
	border-bottom : 1px solid black;
	height : 60px;
}

#credImage{
	float : left;
	margin:10px;
	max-width:40px;
	max-height:40px;
}

.headIcons{
	/*margin-left: 1200px;*/
	float:right;
	height : 40px;
	margin-top: 10px;
	white-space:nowrap;
}
#profile{
	float: left;
	display : inline-block;
	height : 40px;
	width: 150px;
}

#profileImage{
	float : left;
	width : 40px;
	height : 40px;
}

#profileName{
	margin:9px;
	word-wrap:normal;
}
#upload{
	float : left;
	margin-top: 10px;
	height:20px;
	width:20px;
	background-color:#ffffff;
	background-image:url('/mainImage/uploadicon.png');
	background-size: 20px 20px;
	border: none;
}

#logout{
	
	margin-top: 10px;
	margin-left: 5px;
	background-color:#ffffff;
	height:20px;
}
