@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}
#pImage{
	text-align: center;
}
#pImageFrame{
	margin-top: 60px;
	display: flex;
}
#pImageFrame #profileImagePreview{
	width: 225px;
	height: 225px;
}
#pImageFrame #pImage{
}
.labelsD{
	width: 100px;
	margin-right: 5px;
	text-align: right;
	display: inline-block;
}
.labelsD2{
	margin-right: 5px;
	margin-left: 10px;
	text-align: right;
	display: inline-block;
}
#start, #end, #company, #companyEx #educationD, #schoolD{
	display: inline-flex;
}
#labelEx{
	padding-left: 100px;
}
#companyEx{
	display: flex;
}
#editBox{
	width: 600;
	text-align: center;
}
#uploadContent{
	background: #fafafa;
	margin-top: 70px;
}
#infoSheet{
	margin: auto;
	background: white;
	border: 1px solid #e6e6e6;
	padding: 50px;
	height: auto;
	width: 500px;
}
.inputs{
	height: 25px;
	width: 280px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	margin-top: 10px;
	padding: 0 10px;
}
.inputsexp{
	height: 25px;
	width: 223px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	margin-top: 10px;
	padding: 0 10px;
}
#keyword{
	height: 25px;
	width: 280px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	margin-top: 10px;
	padding: 0 10px;
	resize: vertical;
}

.labels{
	display: inline-block;
	text-align: right;
	width: 150px;
	margin-right: 50px;
}
.labelsexp{
	width: 0px;

}
#careerD{
	display: inline-block;
	border: 1px solid;
	padding: 10px;
	margin-top: 10px;
	margin-left: 205px;
	border-radius: 3px;
	border: 1px solid #dbdbdb ;
}
#careerGroupD{
	overflow: auto;
}
#profileImagePreview{
	width: 100px;
}
button{
	background-color: white;
	color: black;
	font-size: 16px;
	width: 100px;
	height: 30px;
	border: 2px solid #555555;
	border-radius: 3px;
}
#addExperienceD{
	text-align: right;
}
#addExperience{
	border: none;
	color: #ed2a7b ;
}
#editD{
	text-align: center;
	margin-top: 20px;
}
.splitter{
	width: 277px;
	display: inline-block;
	border: 1px solid rgba(179, 184, 187, 0.1);
}
#sp2{
	margin-left: 200px;
	margin-top: 20px;
}
.spacer{
	display: inline-block;
}
#keywordLabel{
	vertical-align: top;
	margin-top: 10px;
}

#submitprofile{
	margin-top: 1vh;
	margin-right: 16px;
	float: right;
	cursor: pointer;
	width: 7vw;
	height: 1.5vw;
	font-size: 0.7vmax;
	color: #ed2a7b ;
	border: none;
}

#ProfilePhotoURL{
	width: 200px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}

#ProfilePhotoLabel{
	float: left;
	font-size: 15px;
}
#nameD{
	clear: both;
}
#guideFrame{
	text-align: center;
	margin-bottom: 20px;
}
#guidePImage{
	margin-bottom: 20px;
	width: 80px;
	display: inline-block;
}
.guideP{
	font-size: 12px;
	color: #ed2a7b;
	margin: 0;
	display: inline-block;
}
.emphasize{
	text-decoration: underline;
	text-decoration-style: dotted;
}