#pImageFrame{
	margin-top: 60px;
	display: flex;
}
#pImageFrame #profileImagePreview{
	width: 225px;
	height: 225px;
}
#pImageFrame #pImage{
}
.labelsD{
	width: 100px;
	margin-right: 5px;
	text-align: right;
	display: inline-block;
}
.labelsD2{
	margin-right: 5px;
	margin-left: 10px;
	text-align: right;
	display: inline-block;
}
#start, #end, #company, #companyEx #educationD, #schoolD{
	display: inline-flex;
}
#labelEx{
	padding-left: 100px;
}
#companyEx{
	display: flex;
}
#editBox{
	width: 600;
	text-align: center;
}
