@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );
* {
	font-family: 'Montserrat', sans-serif,'Noto Sans KR', sans-serif;
}

a{
	all:unset;
}
body{
	margin: 0px;
}
a img{
	width: 100%;
	
}
.featureImage{
	height: 100vh;
	object-fit: contain;
	display: block;
	margin: 0 auto;
}
#featureImage1{
	width: 100%;
	background: #ffd1dd;
}
#featureImage2{
	width: 100%;
	background: #ffacc1;
}
#featureImage3{
	width: 100%;
	background: #ff91ad;
}
#MainContent_Frame{

}
/*#RecentWorks_Frame {
	
	max-width: 960px;
	width: 100%;
	margin: 5vh auto 5vh;
	height: 28vh;
}
.RecentWork{
	width: 24%;
	margin-right: 1%;
	display: inline-block;
	vertical-align: top;
}*/
/*p{
	font-size: 1.3vw;
	margin: 0px;
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif,'Noto Sans KR', sans-serif;
}*/
#quoteBox{
	position: relative;
	text-align: center;
	top: -40vw;
	color: white;
	height: 0px;

}
#quoteTitle{
	font-size: 10vw;
}
.Newest_Frame {
	/*background: #fafafa;*/
	height: 90vh;
	margin: 4rem 0 10vh;
	
}
#MainImage {
	height: 100vh;
	object-fit: contain;
	width: 90%;
	display: block;
	margin: 0 auto;
}
#ContentWidth{
	height: 400vh;
}
#xBt {
	display: inline-block;
	position: relative;
	top: -100px;
	left: 90%;
	background: transparent;
	border: none;
	color: rgb(255, 255, 255);
	font-size: 5rem !important;
}
