a{
	all:unset;
}
body{
	margin: 0px;
}
a img{
	width: 100%;
}
#MainContent_Frame{

}
#RecentWorks_Frame{
	margin-left: 12.5%;
	margin-right: 12.5%;
	font-size: 0px;
	text-align: center;
}
.RecentWork{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	/*border-right: 1px solid #e4e4e4;*/
}
p{
	font-size: 1.3vw;
	margin: 0px;
	line-height: 1.6;
}
.position_Frame, .name_Frame, .splitter, #Main_position_Frame, #Main_name_Frame, #Main_splitter{
	display: inline-block;
	vertical-align: top;
}
.name{
	color: red;
}
.workReference{
	text-align: left;
	font-size: 0.8vw;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}
.RecentWorkPic{
	margin-bottom: 3vw;
	/*height: 20vh;*/
	/*object-fit: contain;*/
}
.position_Frame{
	text-align: right;
	width: 45%;
}
.name_Frame{
	text-align: left;
	width: 45%;
}
.splitter{
	width: 10%;
}
#Main_splitter{
	width: 5vw;
}
#MainContent{
	margin-bottom: 5vw;
}
#quoteBox{
	position: relative;
	text-align: center;
	top: -40vw;
	color: white;
	height: 0px;

}
#quoteTitle{
	font-size: 10vw;
}
#Main_position_Frame{
	text-align: right;
}
#Main_name_Frame{
	text-align: left;
}
.Main_position, .Main_name{
	font-size: 3vw;
}
.title{
	text-align: center;
	font-size: 4vw;
	font-weight: bolder;
	margin: 3vw;
}
#MainImage{
	width: 100%;
}
#ContentWidth{
	margin-top: 3vmax;
}
.credit{
	height: 10vh;
	overflow: auto;
	overflow-x: hidden;
}

.credit::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.credit::-webkit-scrollbar{
	width: 12px;
	background-color: #ffffff;
}

.credit::-webkit-scrollbar-thumb{
	background-color: #ffffff;
}