.postHighlight {
	display: inline-block;
	font-weight: 400 !important;
	margin: 0 5px 0 5px;
}
.postNubmer{
	color: #cccccc;
	font-size: 0.8rem;
	vertical-align: middle;
}
.hirer{
	font-size: 1rem;
}
ul{
	list-style-type: none;
	padding: 0;
}
.jobDescription{
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
}
.qualification{
	box-sizing: border-box;
	display: inline-block;
	width: 50%
}
.buttonFrame1, .buttonFrame2{
	text-align: center;
}
.label {
	font-weight: bold;
	font-size: 0.875rem !important;
	line-height: 1.786 !important;
}
.singlePost {
	padding: 15px;
	background: white;
	
}
.requiredInfo{
	display: flex;
}
#postHeader{
	text-align: right;
}
#jobTypeSelector{
	width: 100%;
	max-width: 960px;
	margin: auto;
	
}
#ContentWrapper{
	max-width: 62.5em;
	margin-left: auto;
	margin-right: auto;
}
.openInfo {
	font-size: 1rem !important;
	padding: 15px;
	color: black;
	font-weight: 300 !important;
	background-color: white;
	transition: 0.3s all;
	cursor: pointer;
	letter-spacing: -1px;
}
.jobDescription{
	padding: 15px;
}
.qualification{
	padding:15px;
}
.postTime{
	padding:15px;
}
.extraInfo{
	padding:15px;
}
.time {
	font-size: 0.875rem !important;
	margin: 0px;
	display: inline-block;
	padding-right: 1rem !important;
	color: #666 !important;
}
.inputForm {
	padding: 1em;
	background: #fff;
	margin-bottom: 10px;
	border: 1px solid #dbdbdb;
	font-size: 0.8rem !important;
}
.inputLabel{
	width: 15rem;
	display: inline-block;
	padding-right: 3em;
	margin-top: 0.6em;
	font-size: 0.8rem !important;
	text-align: right;
}
.inputBox{
	background: 0 0;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	box-sizing: border-box;
	color: #262626;
	width: 30vw;
	resize: none;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 355px;
	flex: 0 1 355px;
	font-size: 0.75rem !important;
	height: 32px;
	padding: 7px 10px;
}
.titlePosition{
	color: #ed2a7b;
}
button{
	background-color: #fff;
	color: #4b4f56;
	font-size: 0.75rem !important;
	width: 140px;
	height: 40px;
	margin-bottom: 10px;
	cursor: pointer;
	border: none;
}
.postBt{
	margin-left: -1px;
	margin-right: -5px;
	border: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	padding: 0;
	vertical-align: baseline;

}
button:hover{
	text-decoration: underline;
}
body{
	background-color: #fff;
}

.inputGroup{
	display: inline-flex;
	margin-bottom: 10px;
}
.detail {
	font-weight: 200 !important;
	color: black ;
	font-size: 0.8rem !important;
	padding-bottom: 0.625rem !important;
	border-bottom: 1px solid #e6e6e6 ;
}
.furtherInfo{
	display: none;
}
p.skillEach{
	font-size: 0.875rem !important;
}
.requiredInfo p{
	margin: 0px;
	line-height: 1.786 !important;
	padding-bottom: 0.625rem !important;
}
.required, .optional{
	color:red;
}
.openInfo:hover{
	background: #f9f9f9;
	cursor: pointer;
}

/*달력*/
.ui-datepicker-title{
	text-align: center;
	box-shadow: inset 0 1px 0 0 #e88486 ;
	background-color: #ed2a7b ;
	border-radius: 1px;
	background-image: -webkit-linear-gradient(top, #ed2a7b , #bd3f41 );
	border-bottom: 1px solid #ac2826 ;
	border-top: 1px solid #ac2826 ;
	color: white;
	font-weight: bold;
	padding: 5px 0;
	text-align: center;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}
.ui-datepicker-month{
	color:#fff;
	font-size: 13px;
}
.ui-datepicker-year{
	color: #fff;
	font-size: 13px;
}
/*요일*/
span{
	font-size: 7.5px;
}
th{
	border-bottom: 1px solid #d4d4d4 ;
	color: #666666 ;
	font-size: 7.5pt;
	font-weight: normal;
	box-shadow: inset 0 1px 0 0 white;
	background-color: #f5f5f5 ;
	background-image: -webkit-linear-gradient(top, #f5f5f5 , #e8e8e8 );
	padding: 4px 0;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff ;
	text-transform: uppercase;
	width: 34px;
}
/*일*/
td{
	background-color: #fcfdfd ;
	border-bottom: 1px solid #e2e2e2 ;
	border-left: 1px solid #e2e2e2 ;
	font-size: 11pt;
	font-weight: bold;
	color: #444444 ;
	height: 27px !important;
	padding: 0;
	text-align: center;
	width: 34px;
}

/*바탕*/
.ui-datepicker{
	background: white;
}
table.ui-datepicker-calender{
	background: #fff;
	border: 1px solid #e6e6e6 ;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
/*헤더*/
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
	text-align: center;
	background-color: #fff;
}
.ui-icon.ui-icon-circle-triangle-w{
	padding-right: 10px;
	font-size: 12px;
	cursor: pointer;
}
.ui-icon.ui-icon-circle-triangle-e{
	padding-left: 10px;
	font-size: 12px;
	cursor: pointer;
}