#ContentWrapper{

}
.postHighlight {
	display: inline-block;
	font-weight: 400 !important;
	margin: 0 5px 0 5px;
	font-size: 1.5rem !important;
}
ul{
	list-style-type: none;
	padding: 0;
}
.jobDescription{
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
}
.qualification{
	box-sizing: border-box;
	display: inline-block;
	width: 50%
}
.buttonFrame1, .buttonFrame2{
	text-align: center;
}
.label {
	font-weight: bold;
	font-size: 0.875rem !important;
	line-height: 1.786 !important;
}
.singlePost {
	padding: 15px;
	background: white;
	
}
.requiredInfo{
	display: flex;
}
#postHeader{
	text-align: right;
}
#jobTypeSelector{
	margin-top: 10px;
	margin-bottom: 5px;
}
#ContentWrapper{
	max-width: 62.5em;
	margin-left: auto;
	margin-right: auto;
}
.openInfo {
	font-size: 1.5rem !important;
	padding: 15px;
	color: black;
	font-weight: 300 !important;
	background-color: white;
	transition: 0.3s all;
	cursor: pointer;
}
.jobDescription{
	padding: 15px;
}
.qualification{
	padding:15px;
}
.postTime{
	padding:15px;
}
.extraInfo{
	padding:15px;
}
.time {
	font-size: 0.875rem !important;
	margin: 0px;
	display: inline-block;
	padding-right: 1rem !important;
	color: #666 !important;
}
.inputForm {
	padding: 1em;
	background: #fff;
	margin-bottom: 10px;
	border: 1px solid #dbdbdb;
	font-size: 0.8rem !important;
}
.inputLabel{
	width: 15rem;
	display: inline-block;
	padding-right: 3em;
	margin-top: 0.6em;
	font-size: 0.8rem !important;
	text-align: right;
}
.inputBox{
	background: 0 0;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	box-sizing: border-box;
	color: #262626;
	width: 30vw;
	resize: none;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 355px;
	flex: 0 1 355px;
	font-size: 0.75rem !important;
	height: 32px;
	padding: 7px 10px;
}
.titlePosition{
	color: #ed2a7b;
}
button{
	background-color: #fff;
	color: #4b4f56;
	font-size: 0.75rem !important;
	width: 7vmax;
	height: 2vmax;
	border: none;
	border-radius: 2px;
	margin-bottom: 10px;
	cursor: pointer;
}
button:hover{
	text-decoration: underline;
}
body{
	background-color: #fff;
}

.inputGroup{
	display: inline-flex;
	margin-bottom: 10px;
}
.detail {
	font-weight: 200 !important;
	color: black ;
	font-size: 0.8rem !important;
	padding-bottom: 0.625rem !important;
	border-bottom: 1px solid #e6e6e6 ;
}
.furtherInfo{
	display: none;
}
p.skillEach{
	font-size: 0.875rem !important;
}
.requiredInfo p{
	margin: 0px;
	line-height: 1.786 !important;
	padding-bottom: 0.625rem !important;
}
.required, .optional{
	color:red;
}
.openInfo:hover{
	background: #f9f9f9;
	cursor: pointer;
}
.hirer:hover{
	text-decoration: underline;
}