@CHARSET "UTF-8";

.videoArt{
	float : left;
	width : 232px;
	height : 232px;
	margin-right : 50px;
	margin-bottom : 50px;
}

.ProfileBasicInfo{
	float:left;
	/* border : 1px solid black; */
	margin : 50px;
	margin-top:80px;
	height : 800px;
	width : 300px;
	text-align:center;
	line-height:30%
}

#profileContent{
	width : 900px;
	height : 800px;
	margin-left : 500px;
	/* border : 1px solid black; */
	margin-top : 80px;
}

#profileSelection{
	/* float:left; */
	text-align : center;
	display : block-inline;
	width : 900px;
	height : 100px;
	/* border-bottom : 1px solid black; */

}
#profileBody{
	width:100%;
}

ul{
	list-style:none;
}

li{
	display:inline-block;
	margin-top : 20px;
	margin-right : 100px;
	cursor:pointer;
}
/* #imageSpacer{
	width:50px;
} */
.card{
	height:100px;
	width:344px;
	border-bottom:2px solid black;
	border-right:2px solid black;
	border-bottom-color: #e2e2e2;
	border-right-color: #e2e2e2;
	float:left;
	margin:10px;
}
.personalImageFrame{
	height:100px;
	width:80px;
}
.personalImage{
	height:60px;
	width:60px;
	margin:10px;
}
.personalInfo{
	margin:5px;
	width:95px;
	float:left;
	line-height:30%
}
.name{
	font-size:20px;
	font-weight:bold;

}
.organization{
	font-size:13px;

}
.position{
	font-size:13px;
	font-weight:bold;

}
.location{
	font-size:12px;
	font-weight:lighter;

}
.workImageFrame{
	width:149px;
	height:100px;
}
.workImage{
	width:129px;
	height:76px;
	margin:10px;

}

 table td, table tr{
	/* border:1px solid black; */
}
