@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	/*font-family: 'Montserrat', sans-serif,'Nanum Gothic';*/
}
*:lang(ko) {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	background-color: #fff;
}

a{
	all:unset;
}

.ProjectFrame {
	width: 232px;
	margin-bottom: 20px;
	display: inline-block;
	padding-bottom: 10px;
	background-color: white;
	transition: 0.3s all;
}
.ProjectFrame:hover{
	background: #eaeaea;
	cursor: pointer;
}
.ProjectFrame .detail{
	display: inline-block;
	width: 100%;
}
.videoArt{
	cursor:pointer;
	width : 232px;
}
.ProjectFrame .name{
	margin: 0px;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}
.ProjectFrame .position{
	float:left;
	margin: 0px;
	font-weight: lighter;
	font-size: 13px;
	color:#ed2a7b;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}
.ProjectFrame .credit{
	float:right;
	margin:0px;
}

#profileContent{
	height : 800px;
	margin-left : 450px;
	margin-top : 80px;
}

#profileSelection{
	height : 100px;
}
#profileBody {
	margin: -25 0 0 -40;
	width: 100%;
	padding: 30px;
	background: white;
	column-gap: 20px;
	box-sizing: border-box;
}
#titleButton{
	text-align: center;
}
ul {
	list-style: none;
	/*width: 100%;*/
	white-space: nowrap;
	background: white;
	margin: 0 40 0 -40;
	box-sizing: border-box;
}
#Project, #Bridge, #Members, #Connected {
	border: none;
	border-radius: 3px;
	display: inline-block;
	font-size: 1.1rem !important;
	transition: all 0.7s;
	padding: 20 40 20 30;
	cursor: pointer;
	color: black;
}
#Bridge:hover, #Project:hover, #Members:hover, #Connected:hover{
	border: none ;
	text-decoration: underline;
	cursor: pointer;
}

.selected{
	display: inline-block;
	text-decoration: underline;
	padding: 20 40 20 40;
	cursor: pointer;
}
.bridgeCard {
	cursor: pointer;
	height: 100px;
	width: 344px;
	margin: 5px;
	display: inline-block;
}
.bridgeCard .personalImageFrame{
	height:100px;
	width:80px;
	display: inline-block;
}
.bridgeCard .personalImage{
	border-radius:100%;
	height:60px;
	width:60px;
	margin:10px;
}
.bridgeCard .personalInfo {
	padding-bottom: :5px;
	padding-top: :5px;
	width: 160px;
	display: inline-block;
}
.bridgeCard .name, .bridgeCard .organization, .bridgeCard .position{
	margin-bottom: 5px;
	margin-top: 5px;
}
.bridgeCard .name {
	font-size: 15px;
	font-weight: bold;
	color: #ed2a7b ;
}
.bridgeCard .organization {
	font-size: 10px;
}
.bridgeCard .position{
	font-size:12px;
	font-weight:bold;
}
.bridgeCard .location{
	font-size:12px;
	font-weight:lighter;
}
.bridgeCard .workImageFrame{
	width:149px;
	height:100px;
}
.bridgeCard .workImage{
	width:129px;
	height:76px;
	margin:10px;
}
#projectLayout{
	column-width: 232px;
}
#memberAddFrame{
	display: none;
}

.delete{
	float: right;
	border: none;
	background: transparent;
	margin-right: 5px;
	margin-top: 5px;
}
