@CHARSET "UTF-8";

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}

#ContentMain {
	/*border: 1px solid black;
	*/
	width: 1050px;
	margin-top: 70px;
	margin-left: 250px;
}

#first {

}
#first .PostWork{
	max-width: 100%;
}
#second {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 30px;
	/* border-bottom: 1px solid black;
	*/
}

#third {
	display: flex;
	width: 100%;
	column-width: 500px;

}

.creditFrame {
	border: 1px solid black;
	border-color: #c0c0c0;
	overflow: hidden;
	width: 500px;
	padding-bottom: 30px;
	display: inline-block;
}

.credit {
	margin-bottom: 5px;
	font-size: 36px;
	text-align: center;
	text-decoration: underline
}

.positionFrame {
	line-height: 100%;
	float: left;
	text-align: right;
	width: 230px;
}

.nameFrame , .nameFrame2{
	line-height: 100%;
	float: right;
	text-align: left;
	width: 230px;
}
p.positionFrame, p.nameFrame, p.nameFrame2{
	margin:5px;
	cursor: pointer;
}

#position {
	border:none;
	outline:none;
	clear: left;
}

#Email {
	border:none;
	outline:none;

}

.outCreditFrame{
	display: inline-block;
	/*float: left;*/
}

#addCredit{
	color: gray;
	cursor: pointer;

}
#addCredit:hover{
	background-color: #A8A8A8;
	color: #fff;

}
#addCredit:active{
	background-color: #EE3E80;
}

#close{
	float:right;
	font-size: 20px;
}
.titleText{
	font-weight: bold;
	font-size: 18px;
}
button{
	cursor: pointer;
	background-color: white;
	color: black;
	border: 2px solid #555555 ;
	border-radius: 4px;
}
button:hover {
	background-color: #555555 ;
	color: white;
}

#description{
display: inline-block;
}
#insertCredit{
	margin-top: 20px;
}
