@CHARSET "UTF-8";

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}

#ContentMain {
	width: 85vw;
	margin-top: 5vmax;
	margin-left: 7.5vw;
	margin-right: 7.5vw;
}

.creditFrame {
	/*margin-bottom: 2vh;*/
	background: black;
	color: white;
	width: 100%;
	min-height: 40vh;
	max-height: 40vh;
	padding-bottom: 2vh;
	display: inline-block;
	overflow: scroll;
	overflow-x: hidden;
}

.creditFrame::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000;
}
.creditFrame::-webkit-scrollbar{
	width: 0px;
	background-color: #000000;
}
.creditFrame::-webkit-scrollbar-thumb{
	background-color: #000000;
	border: 2px solid #555555;
}


.creditLabel {
	margin-bottom: 3vh;
	font-size: 2vmax;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}

.positionFrame {
	line-height: 100%;
	float: left;
	text-align: right;
	font-size: 1.5vw;
	width: 45%;
}
.nameFrame{
	line-height: 100%;
	float: right;
	text-align: left;
	font-size: 1.5vw;
	width: 45%;
}
p.name, p.position, p.nameNoAccount, p.positionNoAccount{
	cursor: pointer;
	margin: 0;
	font-size: 1vmax;
	margin-bottom: 0.5vh;;
}
p.nameNoAccount, p.positionNoAccount{
	color: #b3b2b2;
	cursor: unset;
}
#position {
	border:none;
	outline:none;
	clear: left;
}
.outCreditFrame{
	display: inline-block;
	width: 100%;
	min-height: 30vh;
}
.titleText{
	font-weight: bold;
	font-size: 18px;
}
button {
	background-color: white ;
	font-size: 0.75rem !important;
	width: 4vmax;
	height: 2vmax;
	border: none;
	cursor: pointer;
}
button:hover{
	text-decoration: underline;
	cursor: pointer;
}
.postInfo, #postInfo, #viewD, #viewLabel, #viewNum, #description, #QCount, #QNum{
	display: inline-block;
}


#officialInfo,#unofficialOfficialInfo,#QFrame{
	border: 0.1vmin solid #e6e6e6 ;
}
#QFrame{
	margin-top: 2vh;
	padding: 2vh;
	background: white;
}
#LeftCont{
	display: inline-block;
	width: 45vw;
	margin-right: 2vw;
}
#RightCont{
	display: inline-block;
	width: 35vw;
	vertical-align: top;
}
#workFrame{
	text-align: center;
	width: 100%;
}
#viewD{
	float: right;
}
.view{
	font-size: 1vmax;
	color: #90949c ;
}
#QInput, #replyinput {
	display: inline-block;
	vertical-align: middle;
	min-height: 10vh;
	width: 30vw;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	border-radius: 3px;
	border: 1px solid #dbdbdb ;
	font-size: 0.75rem !important;
	resize: none;
}

#QInputFrame{
	text-align : center;
}

#QCountFrame{
	font-size: 2vmin;
	margin-left: 0.64vmax;
}
#profilePic, .Qpics{
	padding-bottom: 1vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	display: inline-block;
	vertical-align: top;
	width: 4vw;
}
iframe{
	width: 35vw;
	height: 35vh;
}
#submitFrame{
	text-align: right;
}
#askBt, #replybutton{
	margin-right: 1vw;
	margin-top: 1vh;
}
.QsComplete{
	padding-top: 1.5vh;
	padding-left: 1vw;
	display: inline-block;
	font-size: 1vmax;
	margin: 0px;
	vertical-align: top;
	width: 29vw;
	word-break: break-all;
	text-align: left;
}
.Qs{
	padding-top: 1.5vh;
	padding-left: 1vw;
	display: inline-block;
	font-size: 1vmax;
	margin: 0px;
	vertical-align: top;
	width: 19vw;
	word-break: break-all;
	text-align: left;
}
.answerBtclass{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0px;
}
.deleteBtclass{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0px;
}
#workTitle{
	font-size: 1.5vmax;
	font-weight: bolder;
	margin: 0.64vmax;
}
#postInfo{
	display: inline-block;
	margin-left: 0.64vmax;
}
.postInfo {
	font-size: 0.75rem !important;
	color: #555;
}

#description {
	font-size: 0.75rem !important;
	padding-bottom: 2vh;
}
#splitter{
	width: 97%;
	border-color: rgba(221, 221, 221, 0.14);
}
.splitterReply{
	width: 97%;
}
#noAnswer, #noUOI {
	width: 100%;
	font-size: 0.75rem !important;
}
#noAnswerImg, #noUOIImg{
	width: 5vw;
}
#officialAnswers{
	min-height: 15vh;
}
#officialInfo{
	padding: 2vmax;
	background: white;
}
#unOfficialOfficialInfo{
	margin-top: 4vh;
	margin-bottom: 4vh;
	padding: 2vmax;
	background: white;
}
#helpUOI{
	border: none;
	margin: 0;
	font-weight: bold;
	font-size: 1.1vw;
	display: inline-block;
	max-width: 36vw;
}
#editUOIBt{
	background: url(/mainImage/editicon.png) no-repeat;
	border: none;
	width: 1.5vmax;
	height: 1.5vmax;
	cursor: pointer;
	background-size: 100%;
	transition: all 0.8s;
	float: right;
	margin-top: -1vh;
	margin-right: -1vw;
}
#editUOIBt:hover{
	background: url(/mainImage/editiconred.png) no-repeat;
	border: none;
	width: 1.5vmax;
	height: 1.5vmax;
	cursor: pointer;
	background-size: 100%;
	transition:  all 0.8s;
}
.PostWork{
	max-width: 100%;
}
.buttons{
	text-align: right;
	padding-right: 1vw;
	margin-top: 1vh;
}
#updatedate{
	font-size: 0.8vmax;
	margin: 0;
	color: #90949c;
	margin-top: 1vh;
}
#wikiInformation{
	margin: 0;
	margin-top: 2vh;
	font-size: 1vmax;
	text-align: left;
	padding-left: 2vw;
	padding-right: 2vw;
}
#wikisubmit{
	resize: vertical;
	display: inline-block;
	vertical-align: middle;
	min-height: 10vh;
	width: 100%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	font-size: 1vmax;
}
#descriptionLabel{
	font-size: 1vmax;
	font-weight: bold;
	display: none;
}
.answerStatus {
	font-size: 0.75rem !important;
	text-align: left;
	font-weight: bold;
	margin-left: 0.64vmax;
}
.qnaLabel{
	display: inline-block;
	margin: 0px;
	height: 4vw;
	color: 90949c;
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: 1vmax;
	vertical-align: top;
}
.personalInfo{
	text-align: left;
	width: 6vw;
	display: inline-block;
}
.personalInfo .name{
	display: block;
	color: #ed2a7b;
	font-size: 0.9vmax;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.uploaddate{
	margin: 0;
	font-size: 0.8vmax;
	text-align: right;
	color: #90949c ;
}
.personalQnAstatus{
	display: inline-block;
}
#editBts{
	text-align: right;
	padding-bottom: 1vh;
	padding-right: 3vw;
}
.QnACard{
	margin-bottom: 1vh;
	padding-right: 1vw;
	padding-bottom: 1vh;
	background: rgba(221, 221, 221, 0.1);
}
#postWriterLabel{
	margin-left: 1vmax;
}
#descriptionFrame{
	margin-left: 0.64vmax;
}
#Qcount, #QNum {
	font-size: 0.75rem !important;
}
#QInputFrame{
	text-align: center;
}
#commitBox{
	text-align: right;
	margin-top: 3vh;
}
#creditRequest{
	text-align: right;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
#creditRequestQuote{
	display: inline-block;
	color: #999;
	margin-top: 0;
	font-size: 0.7em;
}
#creditRequestBt{
	display: inline-block;
	width: 9em;
	padding-right: 0;
	text-align: right;
}
#requestPosition{
	height: 40px; 
	padding: 0 10px;
	border-radius: 3px;
	border: 1px solid #dbdbdb ;
	width: 260px;
}