@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}

.ProfileBasicInfo{
	text-align: center;
	background: rgba(255, 255, 255, 0.97);
	width: 340px;
	border: 1px solid #e6e6e6;
	float: left;
	margin-left: 50px;
	padding-bottom: 20px;
	line-height: 30%;
}
#profileImage2{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin-top: 20px;
}
.ProfileBasicInfo .name {
	clear: both;
	font-size: 1.2rem !important;
	margin: 25px;
	line-height: 80%;
}
.ProfileBasicInfo .curOrganization {
	font-size: 0.75rem !important;
	display: inline-block;
}
.ProfileBasicInfo .curPosition {
	font-size: 0.75rem !important;
	font-weight: bold;
	font-style: italic;
	color: #ed2a7b ;
}
.ProfileBasicInfo .location {
	font-weight: lighter;
	font-size: 0.75rem !important;
	display: inline-block;
}
.comma{
	display: inline-block;
}
.upperInfo{
	margin-bottom: 20px;
}
.ProfileBasicInfo .personalDescription{
	text-align:left;
	margin-top:20px;
	word-wrap:break-word;
	line-height:120%
}
.lowerInfo{
	font-size: 14px;
}
.infoD{
	display: inline-flex;
	width: 100%;
	line-height: 120%;
}
.infoD .infoLabel {
	width: 120px;
	text-align: left;
	font-size: 0.75rem !important;
	margin-left: 15px;
}
.infoDetail{
	text-align: left;
	word-break: break-word;
	width: 200px;
}
#exInfo{
	display: inline-block;
}
.exInfoDetail{
	text-align: left;
	margin-left: 15px;
	margin-bottom: 15px;
}
.ex_pos_org{
	display: flex;
}
#informationEdit {
	background: url(/mainImage/editicon.png) no-repeat;
	border: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-size: 100%;
	transition:  all 0.8s;
	float: right;
	margin: 5px;
}
#informationEdit:hover{
	background: url(/mainImage/editiconred.png) no-repeat;
	border: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-size: 100%;
	transition:  all 0.8s;
}
.profileFrame{ 
	text-align: center;
	width: 340px; 
}
#contacticon,#educationicon, #skillicon, #workicon, #awardicon{
	width: 18px;
	margin-top: -3px;
	float: left;
	padding-right: 10px;
}
#infoSplit{
	width: 90%;
	border: 1px solid #eaeaea;
}
.specialty{
	background: rgba(220, 220, 220, 0.34);
	display: inline-block;
	margin: 0px;
	margin-right: 10px;
	padding: 4px;;
	margin-bottom: 4px;
}
p{
	cursor: pointer;
}
.exO{
	font-weight: bold;
	margin: 0px;
	font-size: 16px;
}
.exL{
	color: gray;
	margin: 0px;
	font-size: 16px;
}
.exP{
	margin: 0px;
	font-style: italic;
}
.comma{
	margin: 0px;
	font-size: 16px;
}
p.award, #emailP, .infoLabel, .infoIconClass{
	cursor: unset;
}
