.ProfileBasicInfo{
	position: fixed;
	background: rgba(255, 255, 255, 0.97);
}
#profileImage2{
	cursor:pointer;
	width : 80px;
	height : 80px;
	border-radius: 100%;
}
.ProfileBasicInfo .name{
	font-size:25px;
	font-weight:bold;
	margin: 45px;

}
.ProfileBasicInfo .organization{
	font-size: 17px;
	margin-bottom: 20px;

}
.ProfileBasicInfo .position{
	font-weight:bold;
	font-size: 17px;
	margin-bottom: 20px;
}
.ProfileBasicInfo .location{
	font-weight:lighter;
	font-size: 17px;
	margin-bottom: 20px;
}
.ProfileBasicInfo .email{
	margin: 45px;
	margin-bottom: 35;
}

.ProfileBasicInfo .personalDescription{
	text-align:left;
	margin-top:20px;
	word-wrap:break-word;
	line-height:120%
}

#informationEdit {
	display: inline-block;
	padding: 0px 10px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000;
	background-color: #F2F2F2;
	border: none;
	border-radius: 15px;
}

#informationEdit:hover {background-color: #D4145A }

#informationEdit:active {
	background-color: #D4145A ;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}