@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}

#logoImage{
	cursor: pointer;
}

img{
	cursor: pointer;
}

body{
	background-repeat: no-repeat;
	background-position: 50%50%;
	background-size:2000px;
	vertical-align:middle;
	text-align:center;
}

.logoDiv {
	text-align: center;
	margin-top: 0px;
}
#logoImage{
	width:187px;
}

.quote {
	color: #008cba;
    font-weight: lighter;
	font-size: 22px;
	text-align: center;
	margin-top: 22px;
	margin-bottom: 22px;
}

.infoFrame {
	color: #999999;
	margin-left: 90px;
	margin-right: 90px;
}

.BOX {
   margin-top: 10px;
   border: 0px;
   font-size: 12px;
   box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
   color: #b3b3b3 ;
   border-bottom: 1px gray solid;
   border-bottom-color: #f2f2f2 ;
   width: 100%;
   padding-left: 10px;
   height: 40px;
   font-weight: normal;
}
#signUp:hover {
	background-color: #008CBA ;
	color: white;
}
#signUp {
   width: 90px;
   height: 30px;
   margin-top: 20px;
   background-color: white;
   color: #008cba ;
   border: 2px solid #008CBA ;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.8s;
}
#infoFrame{
	display:inline-block;
	background-color: #ffffff;
	width:450px;
	height:650px;
	margin-top:67px;
}
