@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif,'Nanum Gothic';
}

#profileContent{
	width : 700px;
	height : 800px;
	margin-left : 500px;
	border : 1px solid black;
	margin-top : 80px;
}

#uploadtext{
	margin-left: 100px;
	margin-top: 80px;
	margin-bottom: 10px;
	font-size: 40px;
	font-weight: bold;
}

#video{
	border : 1px inset black;
	border-color: #eeeeee;
	width : 322px;
	height : 180px;
	margin-left : 50px;
	float:left;
}

#contextBox{
	margin-left : 500px;
	width : 700px;
	height : auto;
}

#context {
	width: 100%;
	height: 80px;
	border:1px solid #dbdbdb ;
	border-radius: 3px;
	padding: 0 10px;
}

#titleBox, #URLBOX {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #dbdbdb ;
	margin-top: 10px;
	padding: 0 10px;
}


.creditContext{
	/*upload.js 에서 실행되는 dynamic credit form*/
	text-align: center;
	float:left;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-bottom-color: #e2e2e2;
	border-right-color: #e2e2e2;
	margin : 3px;
	width:100px;
	border-radius:10px;
	background: lightgray;
}
.creditContext .name{
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
}
.creditContext .position{
	margin-top: -25px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: light;
}
#email, #position {
	height: 40px;
	padding: 0 10px;
	border-radius: 3px;
	border: 1px solid #dbdbdb ;
}
.submitButton{
	float: right;
}
#cancelButton{
	margin-left: 10px;
}

button{
	cursor:pointer;
	background-color:white;
	color:black;
	font-size:16px;
	width: 100px;
	height: 40px;
	border: 2px solid #555555 ;
	border-radius: 3px;
}
button:hover {
	background-color: #555555 ;
	color: white;
}
.PostWork{
	width : 320px;
	height : 178px;
	object-fit: contain;
	outline: none;
}

.suggest{
	list-style: none;
}

#creditBox{
	height:100px;
	border: none;
}